<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block title %}
	{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<main>
	<div class="recipe-grid">
		{% for recipe in recipe_list %}
		<div>
			<h3>
				<a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
			</h3>
			<p>Created on: {{ recipe.created_on|date:'F j, Y' }}</p>
			<img src="{{ recipe.picture }}" />
			<p>{{ recipe.description }}</p>
			<div>4.3 stars</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock content %}
